*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
}

.maintitle{
    font-size: 50px;
    text-align: center;
background: #eeff00;
background: linear-gradient(90deg, rgba(255, 146, 0, 1) 85%, rgb(190, 30, 80) 88%);
background-clip: text;
color:transparent;
letter-spacing: 10px;
text-shadow: 2px 2px 4px rgb(0,234,255);
transition:all 4s;
transform: scale(1) ;
}

.navlist{
    list-style-type: none;
    
}
.navtext{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    font-family:  "Honk", system-ui;
    padding: 22px 26px;;
    color: #9c508e;
}
nav{
    border:5px solid rgb(0, 229, 255); 
    width: 750px; 
    border-radius: 50px;  
    background-color:#78DeFF ;
    margin: 10px auto;
    
    
}
.navlist{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.navunlist{
    padding: 15px;
}
.logo{
    border-radius: 50%;    
}
 .herovideo{
    width: 100%;
    height: 50;    
}
.parainfo{
    text-align: center;
    font-size: 20px;
    color: rgb(255, 0, 208);
}
section,
footer{
    width:80%;
    border: 3px solid purple;
    margin: 5px auto;
    padding: 20px;
    border-radius: 10px;
   background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
transition: box-shadow 1.5s ;
}
section:hover,
footer:hover{
box-shadow: -10px -10px 60px purple;
cursor: pointer;
transition: box-shadow 1.5s;

}
.sectiontitle{

    color: mediumvioletred;
}
#githublink{
    text-decoration: none;
    color: white; ;
    border: 2px solid black;
    background-color: blueviolet;
   
}
.maintitle:hover{
    color:green;
    transition:all 4s;
    transform:scale(1) ;

    
}
#real{
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border: 2px solid black;
}
#sele{
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border: 2px solid black;
}
#rue{
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    border: 2px solid black;
}
#tir.hover{
   transform: rotate(50 deg);

}